@media (max-width: 1200px)
    .container
        max-width: 960px
    .hotel
        &-slider
            width: 590px
            height: 450px
    .swiper
        &-slide
            &__img
                height: 100% 
                object-fit: cover       
@media (max-width: 992px)
    .container,
    .newsletter-container
        max-width: 700px        
    .navbar
        &-bottom
            padding-top: 22px
            padding-bottom: 22px
        &-top 
            padding: 30px 0
            
        &__search
            margin-left: auto
    
        &-menu
            justify-content: space-around
            &__link    
                font-weight: bold
                font-size: 12px
                line-height: 15px
        &__search
            margin-left: 48px        
        
    .search__input
         width: 340px           
    .logo
        width: 133px  
    .hotel
        &-grid 
            flex-direction: column
        &__slider    
            margin-bottom: 30px
            
        &__right-bar
            flex-direction: row   
            margin-left: 0 
    
        &-slider
            width: 100%   
    .swiper
        &-slide
            &__img
                width: 100%   
    .booking
        width: 340px
    .map
        width: 340px  
                        
@media ( max-width: 810px)
    
    .container
        max-width: 700px 
        width: 92%
    .navbar
        &-menu
            justify-content: space-around
            &__link    
                font-weight: bold
                font-size: 12px
                line-height: 15px
        &__search
            margin-left: 48px  
    .booking
        padding: 29px 21px 26px 26px
        &__info
            margin-bottom: 5px          
    .hotel
        padding-bottom: 55px                    
    .reviews
        &-slider
            &__item
                max-width: 579px  
                &::before
                    display: none
                &::after
                    display: none   
            &__button
                &--prev
                    left: 8px
                    top: 52%
                &--next
                    right: -8px
                    top: 52%    
        &__title
            font-style: normal
            font-weight: bold
            font-size: 30px
            line-height: 38px
            margin-bottom: 52px
    
@media ( max-width: 767px)
    .navbar
        &-user
            display: none
        &__search   
            display: none 
        &-bottom
         display: none 
        &-top 
            &__menu-button
                display: flex    
    .stars
        flex-basis: auto            
    .hotel
        &-name
            flex-basis: 100%
        &-wrapper
            justify-content: space-between
        &-info
            &__name
                margin-top: 10px
                margin-bottom: 0
            &__text
                width: 100%
            &__offer
                order: -1
                margin-left: 0    
            &__rating
                display: none   
    .menu
        &-button 
            display: flex
            flex-direction: column
            align-items: center
            justify-content: space-between
            height: 11px
            background: none
            &__line
                width: 16px
                height: 1px
                background-color: $text-color
    .booking
        width: 48%
    .map
        width: 48% 
    .newsletter
        &-container
            flex-direction: column                
        &__title
            margin-bottom: 40px
@media ( max-width: 576px) 
    .hotel
        padding-top: 0 
        
        &__right-bar
            flex-direction: column
            min-height: 450px
    .booking
        width: 100%
    .map
        width: 100% 
    .reviews
        &__title
            width: 390px
            margin-left: auto
            margin-right: auto                             
@media (max-width: 450px)  
    .hotel
        padding-top: 0 
        padding-bottom: 42px
        &-info
           padding-bottom: 38px
        &__right-bar
            flex-direction: column 
            min-height: 402px  
            justify-content: space-between
        &__slider
            margin-bottom: 20px 
        &-slider
            width: 279px
            height: 179px
            &__button 
                background-size: 4px
                &--prev
                    left: -2px
                &--next    
                    right: -2px    
    .logo 
        width: 100px    
    .container,
    .newsletter-container
        max-width: 280px
    .stars
        margin-right: 14px 
    
    .booking
        width: 100%
        height: 210px
        padding: 29px 22px 26px 22px
        &__info
            margin-bottom: 5px
    .map
        width: 100% 
        height: 173px
    .newsletter
        padding: 76px 0 83px 0
        &-container
            align-items: flex-start
        &__title
            font-style: normal
            font-weight: 300
            font-size: 20px
            line-height: 25px
        &-title    
            &__strong
                font-style: normal
                font-weight: 600
                font-size: 30px
                line-height: 38px
                margin-top: 4px
        &__subscribe
            width: 280px
    .subscribe__input
        padding-left: 20px
    .reviews
        &__title
            font-style: normal
            font-weight: bold
            font-size: 18px
            line-height: 23px  
            text-align: center 
            margin: 0 auto 40px
            max-width: 245px 
        &-slider
            &__text
                height: 265px
            &__button
                top: 52px
                &--prev
                    left: 15%
                &--next
                    right: 10%
            &__item
                padding: 0px 31px 36px 
                height: 440px      
