*
    box-sizing: border-box
    margin: 0
    padding: 0
    
body
    font-family: "Mulish", sans-serif
    color: $text-color
    background-color: $secondary
.container
    max-width: 1110px
    margin: auto    
button
    cursor: pointer
    border: none
    outline: none
input::placeholder
    color:#333333   
img
    max-width: 100%      
.input
    border-radius: 4px
    background-color: #fff
    border: none
    padding: 0 23px
    height: 50px      
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 15px
    &::placeholder
            color: $footer-text-color
.message
    border-radius: 4px
    background-color: #fff
    padding: 18px 23px
    border: none    
    height: 123px
    width: 539px
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 15px 
    &::placeholder
        color: $footer-text-color               

     




    



    
    

