.navbar
    background-color: #fff
    &-top
        display: flex
        align-items: center
        justify-content: space-between
        padding-top: 40px
        padding-bottom: 40px
        &__menu-button
            display: none           
    &__search
        margin-right: auto    
        margin-left: 108px
        
      
    &-bottom
        background-color: $dark
        padding: 31px 0   
        
    &-menu
        list-style: none
        margin: 0
        padding: 0
        display: flex
        align-items: center
        justify-content: space-between
        &__link
            color: $light
            text-decoration: none
            text-transform: uppercase
            font-weight: bold
            font-size: 14px
            line-height: 18px
            display: block
            max-width: 160px

        &__item
            &--mobile
                &--visible
                    display: none
                        
.logo
    width: 177px
.search
    display: flex
    position: relative
    border: none
    overflow: hidden
    border-radius: 6px
    height: 40px
    &__input
        width: 350px
        height: 100%
        background: #F5FAFE
        border: none
        font-weight: normal
        font-size: 12px
        line-height: 15px
        padding-left: 23px
        padding-right: 75px
        outline: 0
        color: $text-color
        
    &__button
        position: absolute
        height: 100%
        width: 65px
        top: 0
        right: 0
        border: 0
        background: $primary
.user
    display: flex  
    align-items: center
    text-decoration: none
    &__ava
        width: 40px
        height: 40px
        border-radius: 50%
        object-fit: cover
    &__name
        color: $text-color
        margin-left: 18px
        max-width: 200px

        



        

                      
        





        
        




        



    
